{% extends "layout.html" %}

{% block title %}Davis Putnam{% endblock %}

{% block links %}
{% endblock %}

{% block body %}

    <div class="container">
        <p></p>
        <h2>{{g.name}}</h2>
        <div class="row">
          <div class="col-md-3">
            <h3>Argument</h3>
            <ul class="list-group">
                {% for p in g.premises %}
                    <li class="list-group-item">{{p}}</li>
                {% endfor %}
                <li class="list-group-item active">{{g.conclusion}}</li>
            </ul>
            {% if g.sat %}
                <div class="alert alert-danger" role="alert">
                    <strong>Satisfiable!</strong> Invalid Argument
                </div>
            {% else %}
            <div class="alert alert-success" role="alert">
                <strong>Not Satisfiable!</strong> Valid Argument
            </div>
            {% endif %}
          </div>
          <div class="col-md-9">
            <h3>Tree</h3>
            <img src="{{g.argument_tree}}" class="img-responsive" alt="argument">
          </div>
        </div>
    </div>
{% endblock %}


{% block postscript %}

{% endblock %}
