{% extends "layout.html" %}

{% block title %}Davis Putnam{% endblock %}

{% block links %}
{% endblock %}

{% block body %}

    <div class="container">
        <p></p>
        <div class="row">
          <div class="col-md-9">
            <h2>Create a new Argument</h2>
            <form action="/" method="POST" class="form-inline">
                <table class="table" id="premises">
                    <tr id="1">
                        <td><label for="1">Premise 1</label></td>
                        <td><input type="text" class="form-control" name="1" placeholder="Premise"></td>
                    </tr>
                    <tr id="conclusion">
                        <td><label for="conclusion">Conclusion</label></td>
                        <td><input type="text" class="form-control" name="conclusion" id="conclusion" placeholder="Conclusion"></td>
                    </tr>
                </table>
                <input type="submit" value="Submit" class="btn btn-primary">
                <input type="button" value="Add Premise" class="btn btn-primary addPremise" id="append">

            </form>
          </div>
          <div class="col-md-3">
            <h2>Existing Arguments</h2>
            <ul class="list-group">
              {% for a in g.arguments %}
                <a class="list-group-item" href="/argument/{{a}}">{{a}}</a>
              {% endfor %}
            </ul>
          </div>
        </div>
    </div>
{% endblock %}


{% block postscript %}
    <script>
    $(document).ready(function(){
        $("#append").click(function(){
            console.log($("#premises"));
            children = $("#premises").children();
            last = children.children()[children.children().length-2];

            var id = parseInt(last.id) + 1;

            //var next = "<tr id='2'><td><label for='1'>Premise 1</label></td><td><input type='text' class='form-control' name='1' placeholder='Premise'></td></tr>";

            var next = "<tr id='" + id + "'><td><label for='";
            next += id + "'>Premise " + id + "</label><td>";
            next += "<input type='text' class='form-control' name='" + id + "' placeholder='Premise'>"
            next += "</td></tr>"

            $("#conclusion").before(next);
        });
    });
    </script>
{% endblock %}
