{% extends "layout.html" %}

{% block title %}Davis Putnam{% endblock %}

{% block links %}
{% endblock %}

{% block body %}

    <div class="container">
        <p></p>
        <div class="row">
          <div class="col-md-9">
            <h2>Create a new Argument</h2>
          </div>
          <div class="col-md-3">
            <h2>Existing Arguments</h2>
            <ul class="list-group">
              {% for a in g.arguments %}
                <a class="list-group-item" href="/argument/{{a}}">{{a}}</a>
              {% endfor %}
            </ul>
          </div>
        </div>
    </div>
{% endblock %}


{% block postscript %}

{% endblock %}
